p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #b84848;
    line-height: 1.5;
    margin: 20px;
    background-color: aquamarine;
}
body {
    background-color: lightyellow;
}
